#b1 {
    font-size: 50px;
    width: 300px;
    border-width: 10px;
    border-style: groove;
    border-color: blue;
}
#b2 {
    font-size: 50px;
    width: 300px;
    border-width: 10px;
    border-style: dotted;
    border-color: red;
}
#b3 {
    font-size: 50px;
    width: 300px;
    border-width: 10px;
    border-style: solid;
    border-radius: 20px;
    border-color: green;
}
#mp {
    font-size: 50px;
    background-color: aqua;
    width: 300px;
    margin: 50px;
    padding: 50px;
}
.cl {
    font-size: 50px;
    background-color: yellow;
    width: 300px;
    margin-top: 10px;
}
p {
    font-size: 30px;
    color: purple;
    width: 300px;
}
.sq {
    list-style: square;
    font-size: 30px;
    width: 300px;
}
.vi {
    list-style: none;
    font-size: 30px;
    width: 300px;
}
.ca {
    font-size: 50px;
    background-color: orange;
    width: 300px;
    margin-left: 20px;
    display: inline-block;
}
.po {
    font-size: 50px;
    background-color: violet;
    width: 300px;
    position: absolute;
    top: 0%;
    right: 0%;
}
#ho {
    margin-top: 15px;
    font-size: 50px;
    color: white;
    background-color: black;
    width: 300px;
}
#ho:hover {
    color: black;
    background-color: red;
    transition: background-color 3s, color 3s;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightgreen;
  }
}