.tabla,
th,
tr {
  border-collapse: collapse;
  border: 5px groove black;
  width: 100%;
  padding: 10px;
}
.fila th {
  font-family: Arial;
  font-weight: normal;
  text-align: left;
}
.titulo th {
  font-family: Cambria;
  font-weight: bolder;
  font-style: oblique;
  text-align: center;
}

th:nth-child(1) {
  width: 65%;
}
th:nth-child(2) {
  width: 5%;
}
th:nth-child(3) {
  width: 30%;
}
.fila th:hover {
  background-color: black;
  color: white;
}
.divtabla {
  max-height: 150px;
  overflow-y: auto;
}
.lista {
  list-style-type: disc;
}
.lista > li > ul {
  list-style-type: square;
}
