.link:link {
  color: blue;
}
.link:visited {
  color: red;
}
.link:hover {
  color: green;
}

h1 {
  font-family: sans-serif;
  font-size: 36px;
}
p {
  line-height: 1.6;
}
.table {
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 50%;
  height: auto;
  border: 2px solid black;
  justify-items: center;
  align-items: center;
  background-color: black;
}
.table div {
  width: 70%;
  height: auto;
}
.table img {
  width: 100%;
  height: auto;
}
.table > #img1_1 {
  grid-column: 1;
  grid-row: 1;
}
.table > #img1_2 {
  grid-column: 1;
  grid-row: 2;
}
.table > #img2_1 {
  grid-column: 2;
  grid-row: 1;
}
.table > #img2_2 {
  grid-column: 2;
  grid-row: 2;
}
.table > #img3_1 {
  grid-column: 3;
  grid-row: 1;
}
.table > #img3_2 {
  grid-column: 3;
  grid-row: 2;
}
.boton {
  background-color: lightblue;
  color: black;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
}
.boton:hover {
  background-color: lightgreen;
  transition: background-color 0.3s;
}
.dropdown {
  position: fixed;
  width: 100px;
  height: 50px;
  background-color: lightsalmon;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  align-content: center;
  text-align: center;
  font-size: 20px;
  z-index: 9999;
}
.dropdown-box {
  position: absolute;
  top: 100%;
  left: 0%;
  background-color: lightblue;
  display: none;
  z-index: 10000;
}
.dropdown:hover > .dropdown-box,
.dropdown:focus-within > .dropdown-box {
  display: block;
}
.dropdown-content {
  position: relative;
}
.dropdown-subbox {
  position: absolute;
  width: 200px;
  top: 0%;
  left: 100%;
  background-color: pink;
  display: none;
  z-index: 10001;
}
.dropdown-content:hover > .dropdown-subbox,
.dropdown-content:focus-within > .dropdown-subbox {
  display: flex;
  flex-direction: column;
}
.dropdown-sucontent {
  font-weight: 700;
}
.circulo {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  animation: moviCirculo 3s infinite alternate;
}
@keyframes moviCirculo {
  from {
    left: 0px;
  }
  to {
    left: 800px;
  }
}
.tituloTargeta {
  font-size: 40px;
  text-align: center;
}
.imgTargeta {
  width: 100%;
  height: auto;
  display: block;
}
.descripcionTargeta {
  font-size: 20px;
  text-align: justify;
  font-weight: normal;
}
.targeta {
  width: 300px;
  position: relative;
  border: 2px solid black;
  background-color: #ffe4b7;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  padding: 10px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.targeta:hover {
  scale: 1.05;
  transition: scale 0.3s;
}
.modal-label {
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
  font-size: 30px;
  font-family: Arial;
  background-color: lightblue;
  padding: 10px;
  border: 4px solid black;
  transform: all 0.3s;
  text-decoration: none;
}
.modal {
  z-index: 999999;
  font-family: Arial;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}
.modal-content {
  position: absolute;
  left: 50%;
  top: 30vh;
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
  width: 50%;
}
.x {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.cer {
  font-size: 20px;
  font-weight: bold;
  color: black;
  padding: 5px;
  border: 1px solid black;
  text-decoration: none;
}
.modal-head {
  background-color: lightskyblue;
  padding: 1px;
}
.modal-body {
  text-align: left;
  background-color: lightcyan;
  padding: 30px;
}
.modal-footer {
  text-align: left;
  background-color: lightskyblue;
  padding: 15px;
  padding-left: 40px;
}
.modal:target {
  opacity: 1;
  visibility: visible;
}
.modal:target .modal-content {
  transform: translate(-50%, -50%);
}
