a:hover{
    color: green;
}
a:visited {
    color:red
}
a:default {
    color: blue;
}
h1 {
    font-family:sans-serif;
    font-size: 36px;
}
p {
    line-height: 1.6;
}
.table{
  display: grid;
  grid-template-columns: 1fr 1fr;   /* 2 columnas iguales */
  grid-template-rows: repeat(3, auto);
  align-content: start;
  width: 600px;
}
.table > #img1_1 {
    grid-column: 1;
    grid-row: 1;
}
.table > #img1_2 {
    grid-column: 1;
    grid-row: 2;
}
.table > #img1_3 {
    grid-column: 1;
    grid-row: 3;
}
.table > #img2_1 {
    grid-column: 2;
    grid-row: 1;
}
.table > #img2_2 {
    grid-column: 2;
    grid-row: 2;
}
.table > #img2_3 {
    grid-column: 2;
    grid-row: 3;
}